@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/calendar-heatmap.min.css">

<div id="calendar"></div>
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js" charset="utf-8"></script>
<script src="~/js/calendar-heatmap.min.js"></script>

<script>
 


    //(function () {
    //    var data = [{
    //        "date": "2023-04-24",
    //        "total": 6337,
    //        "details": [{
    //            "name": "AVG9",
    //            "date": "2023-04-24 11:52:12",
    //            "value": 324
    //        }, {
    //            "name": "AVG9",
    //            "date": "2023-04-24 12:06:24",
    //            "value": 684
    //        },
    //        {
    //            "name": "AVG9",
    //            "date": "2023-04-24 15:31:13",
    //            "value": 327
    //        },
    //        {
    //            "name": "AGV4",
    //            "date": "2023-04-24 11:56:58",
    //            "value": 417
    //        },
    //        {
    //            "name": "AGV4",
    //            "date": "2023-04-24 13:11:50",
    //            "value": 658
    //        },
    //        {
    //            "name": "AGV4",
    //            "date": "2023-04-24 15:32:29",
    //            "value": 294
    //        },
    //        {
    //            "name": "AGV1",
    //            "date": "2023-04-24 11:58:15",
    //            "value": 704
    //        },
    //        {
    //            "name": "AGV1",
    //            "date": "2023-04-24 14:30:38",
    //            "value": 532
    //        },
    //        {
    //            "name": "AGV1",
    //            "date": "2023-04-24 16:08:27",
    //            "value": 638
    //        },
    //        {
    //            "name": "AGV2",
    //            "date": "2023-04-24 12:00:28",
    //            "value": 826
    //        },
    //        {
    //            "name": "AGV2",
    //            "date": "2023-04-24 14:38:09",
    //            "value": 633
    //        }]
    //    },
        
    
    //    ]

    //     Set the div target id
    //    var div_id = 'calendar';

    //     Set custom color for the calendar heatmap
    //    var color = '#cd2327';

    //     Set overview type (choices are year, month and day)
    //    var overview = 'year';

    //     Handler function
    //    var print = function (val) {
    //        console.log(val);
    //    };

    //     Initialize calendar heatmap
    //    calendarHeatmap.init(data, div_id, color, overview, print);
    //})();


</script>